/*-------- General Styles ------*/

:root {
  --color-darkest: #0c0c0c;
  --color-very-dark: #1a1a1a;
  --color-dark: #1f1f1f;
  --color-medium: #282828;
  --color-light: #ccc;

  --bg-color-dark: #87cdce;
  --bg-color-light: #1c2a2a;

  --input-height: 45px;

  --button-width: 45px;
  --button-height: 45px;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  max-width: 1920px;
  font-size: 12px;
}

body {
  background: linear-gradient(
      180deg,
      var(--bg-color-light) 5%,
      var(--bg-color-dark) 80%
    )
    no-repeat center center fixed;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  margin: 2rem 0 0 0;
  font-size: 10vw;
  font-family: 'Philosopher', sans-serif;
  font-weight: 300;
  text-align: center;
  text-shadow: 4px 4px var(--color-darkest);
  text-transform: uppercase;
  text-decoration: line-through;
  color: var(--color-light);
}

h2 {
  font-size: 3vw;
  font-family: 'Pacifico', cursive;
  font-weight: 200;
  text-align: center;
  color: var(--color-light);
}

/*-------- Section New Task ------*/

.new-task-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 0 auto;
  box-shadow: 0 6px 3px -3px var(--color-darkest);
  border: 1px solid var(--color-light);
  border-radius: 1rem;
  width: 75%;
  min-height: 12rem;
  background-color: var(--color-very-dark);
  color: var(--color-light);
}

.new-task-desc {
  transition: box-shadow 0.2s;
  overflow: hidden;
  margin: 0 4rem 0 0;
  margin: 0 3% 0 5%;
  border: none;
  padding: 0 0 0 1em;
  width: 80%;
  height: var(--input-height);
  background-color: var(--color-medium);
  font-size: 2rem;
  color: var(--color-light);
}

.new-task-desc::placeholder {
  font-size: 1.5rem;
}

.new-task-desc:hover {
  box-shadow: 0 0 4px var(--color-light);
}

.new-task-submit {
  transition: box-shadow 0.2s;
  border: none;
  border-radius: 0.3rem;
  margin: 0 5% 0 0;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-medium);
  cursor: pointer;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: var(--color-light);
}

.new-task-submit:hover {
  box-shadow: 0 0 4px var(--color-light);
}

/*-------- Section Task list ------*/

.task-list {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-light);
  border-radius: 1rem;
  margin: 3rem auto;
  box-shadow: 0 6px 3px -3px var(--color-darkest);
  width: 75%;
  min-height: 15rem;
  background-color: var(--color-medium);
  color: var(--color-light);
}
.task-list-todo-wrapper,
.task-list-finished-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
  width: 100%;
  min-height: 7.5rem;
  background-color: var(--color-dark);
}

.task-list-todo-wrapper {
  border-radius: 1rem 1rem 0 0;
}

.task-list-finished-wrapper {
  border-top: 2px solid var(--color-medium);
  border-radius: 0 0 1rem 1rem;
}

.task {
  align-items: center;
  display: flex;
  transition: box-shadow 0.2s;
  margin: 1rem 0;
  width: 95%;
  height: 3.5rem;
  min-height: 50px;
  background: var(--color-very-dark);
}

.task:hover {
  box-shadow: 0 0 4px var(--color-light);
}

.task.finished .task-desc {
  text-decoration: line-through;
}

.task-desc {
  padding: 0 0 0 1em;
  width: 80%;
  height: 2.5rem;
  font-size: 2rem;
}

.task-button {
  transition: background 0.2s, color 0.2s, transform 0.2s;
  margin: auto 1rem;
  border: none;
  border-radius: 0.3rem;
  min-width: var(--button-width);
  min-height: var(--button-height);
  background: var(--color-very-dark);
  cursor: pointer;
  font-size: 20px;
  color: var(--color-light);
}

.task-button:hover {
  background: var(--color-light);
  color: var(--color-very-dark);
}
