/*-------- General Styles ------*/

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  max-width: 1920px;
  font-size: 62.5%;
}

body {
  background: linear-gradient(180deg, #4003cf 5%, #0d041b 80%) no-repeat center
    center fixed;
  font-family: 'Montserrat', sans-serif;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h1 {
  padding: 6rem 0;
  font-size: 6rem;
  text-align: center;
  color: #ccc;
}

/*-------- Section New Task ------*/

.new-task-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem auto 0 auto;
  box-shadow: 0 6px 3px -3px #0c0c0c;
  border-radius: 1rem;
  width: 55%;
  min-height: 15rem;
  background-color: #1a1a1a;
  color: #ccc;
}

.new-task-desc {
  transition: box-shadow 0.2s;
  margin: 0 4rem 0 0;
  border: none;
  width: 60%;
  height: 3rem;
  padding: 0 0 0 2%;
  background-color: #282828;
  font-size: 2rem;
  color: #ccc;
}

.new-task-desc:hover {
  box-shadow: 0 0 4px #ccc;
}

.new-task-submit {
  transition: box-shadow 0.2s;
  border: none;
  border-radius: 0.3rem;
  width: 10%;
  height: 3rem;
  background-color: #282828;
  cursor: pointer;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #ccc;
}

.new-task-submit:hover {
  box-shadow: 0 0 4px #ccc;
}

/*-------- Section Task list ------*/

h2 {
  padding: 2rem 0;
  font-size: 3.5rem;
  text-align: center;
}

.task-list {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin: 1rem auto;
  width: 50%;
  min-height: 15rem;
  background-color: #282828;
  color: #ccc;
}
.task-list-todo-wrapper,
.task-list-finished-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
  background-color: #1f1f1f;
}

.task-list-finished-wrapper {
  border-top: 2px solid #282828;
  border-radius: 0 0 1rem 1rem;
}

.task {
  display: flex;
  justify-content: center;
  transition: box-shadow 0.2s;
  margin: 1rem 0;
  width: 95%;
  height: 3rem;
  background: #1a1a1a;
  font-size: 1.8rem;
}

.task:hover {
  box-shadow: 0 0 4px #ccc;
}

.task.finished .task-desc {
  text-decoration: line-through;
}

.task-desc {
  margin: auto 0;
  width: 80%;
  height: 2.5rem;
  font-size: 2rem;
}

.task-button {
  transition: background 0.2s, color 0.2s, transform 0.2s;
  margin: auto 1rem;
  border: none;
  border-radius: 0.3rem;
  width: 5%;
  height: 2.5rem;
  background: #1a1a1a;
  cursor: pointer;
  color: #ccc;
}

.task-button:hover {
  background: #ccc;
  color: #1a1a1a;
}
